.book-pop-up {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100vh;
	background-color: rgba(223, 227, 223, 0.42);
	z-index: 100;
	visibility: hidden;
	position: fixed;

	&.book-pop {
		transition: all 0.4s ease-in;
		visibility: visible;
	}

	.booking-form {
		max-width: 308px;
		height: auto;
		background-color: white;
		z-index: 100;
		align-content: center;
		margin: 100px auto;
		font-family: $heading-font;
		font-size: 1.3em;
		border-radius: 5px;
		padding: 5px;
		// border:  solid 7px;

		input,
		textarea,
		select {
			border: 2px solid #226c8196;
			padding: 4px 0 4px 0;
			border-radius: 5px;
			font-family: $body-font;
			outline: none;
		}

		.form-top {
			padding: 10px;
		}

		.form-top label {
			display: block;
			margin: 5px 0 2px 0;
		}
		.date {
			padding: 10px;

			.end-label {
				padding-left: 39px;
			}

			.end {
				margin-left: 5px;
				margin-top: 5px;
			}
		}

		.camp-type {
			padding: 10px;

			h3 {
				margin-bottom: 5px;
			}
		}
		.dog {
			padding: 10px;

			h3 {
				margin-bottom: 5px;
			}
		}
		.campers {
			padding: 10px;
		}

		select {
			padding-top: 3px;
			font-weight: bold;
			font-size: 0.9em;
		}

		.comments {
			padding: 10px;

			textarea {
				margin: 10px 0;
			}
		}

		.submit {
			font-family: $body-font;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.1em;
			@include link;
			padding: 15px;
			border: none;
			border-radius: 5px;
			margin: 0 0 10px 10px;
		}
		.cancel {
			font-family: $body-font;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.1em;
			// @include link;
			padding: 15px;
			border: none;
			border-radius: 5px;
			margin: 0 0 10px 10px;

			:hover {
				background-color: #226c8196;
			}
		}
	}
}

@media only screen and (max-width: 400px) {
	.book-pop-up {
		position: absolute;
	}
}
