footer {
	z-index: 101;
	display: flex;
	border-top: 3px solid whitesmoke;
	background-color: #dfe3df;
	padding: 10px;
	margin: 30px 0 0 0;
	font-family: $body-font;

	position: absolute;
    bottom:0;
    left: 0;
    right: 0;

	.copyright {
		flex-grow: 4;

		a {
			text-decoration: none;
			color: black;
		}
	}

	ul {
		flex-grow: 1;
		list-style: none;
	}

	ul li {
		display: inline;
		list-style: none;
		text-decoration: none;
	}

	ul li a {
		text-decoration: none;
		color: black;
	}
}

@media (max-width: 536px){

	footer{

		.copyright {
			font-size: 75%;
		}

		nav {

			ul {

				li {

					a{
						font-size: 75%;
					}
				}
			}
		}
	}
}
