.wrapper-home {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    "a a c c c";

    .call-to-action {
        grid-area: a;
    }
    
    .slide-show {
        grid-area: c;
    }
}

