.map {
	max-width: 1200px;
	margin: auto;
	svg {
		width: 1200px;
		height: 850px;
	}
}

.state {
	fill: #226c8196;
	transition: all 0.4s ease;
}

.state:hover {
	fill: #226d81;
	transform: scale(1.005);
}

.coming-soon {
	fill: #866a1667;
}

.map-slogan {
	margin: auto;
	width: 700px;
	font-size: 65px;
	font-family: $heading-font;
	padding-bottom: 10px;
	text-align: center;
	padding-top: 50px;
	border-top: 3px solid whitesmoke;
}

// sample colours
/* //rgb(90, 177, 228) blue fill*/

/* fill: rgba(123, 208, 168, 0.5) mint green */

/* fill: #04492857 dark green*/
// .nothing {
// 	fill: #04492857;
// 	fill: #7bd0a880;
// 	fill: #5ab1e4;
// }
