.map {
	max-width: 1200px;
	margin: auto;
	svg {
		max-width: 1200px;
		height: auto;
		padding-bottom: 50px;
	}
}

.state-map {
	fill: #226c8196;
	transition: all 0.4s ease;
}

.state-map:hover {
	fill: #226d81;
	transform: scale(1.005);
}

.coming-soon {
	fill: #866a1667;
}

.map-slogan {
	margin: auto;
	max-width: 700px;
	font-size: 60px;
	font-family: $heading-font;
	padding-bottom: 10px;
	text-align: center;
	padding-top: 50px;
}

// @media only screen and (max-width: 500px) {
// 	.map {
// 		svg {
// 			.coming-soon {
// 				visibility: hidden;
// 			}
// 		}
// 	}
// }

// sample colours
/* //rgb(90, 177, 228) blue fill*/

/* fill: rgba(123, 208, 168, 0.5) mint green */

/* fill: #04492857 dark green*/
// .nothing {
// 	fill: #04492857;
// 	fill: #7bd0a880;
// 	fill: #5ab1e4;
// }
