.state-wrapper {
    margin: 0 10% 0 10%;
    height: 120vh;
    display: grid;
    column-gap: 5%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: (5, 0.25fr .25fr 2fr 2fr .5fr);
    grid-template-areas:
    'a a b b'
    'c c b b'
    'd d b b'
    'd d b b'
    'e e b b';
    
    .search-filter {
        grid-area: a;
        display: flex;
        justify-content: space-evenly;
        border: solid black 1px;

        button {
            max-height: 20px;
            margin: auto;
            flex-basis: 100%;
        }
    }
    
    .state-slogan {
        grid-area: c;
    }

    .profiles {
        grid-area: d;
        display: grid;
        column-gap: 5%;
        row-gap: 2.5%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        // .p1, .p2, .p3, .p4 {
        // }

    }

    .state-map {
        grid-area: b;
    }

    .app {   
        grid-area: e;
        display: grid;
        grid-template-columns: (2, 1fr .3fr);
        grid-template-rows: repeat (3, 1fr);
        grid-template-areas:
        'a b'
        'c b'
        'd b';

        .app-title {
            grid-area: a;
        }
    }
}