.wrap{
    margin: 0 15% 0 15%;

    main {

        padding-bottom: 15%;

        h2{
            font-family: $body-font;
            font-size: 200%;
            font-weight: bold;
            text-decoration: underline;
            margin: 5% 0;
        }

        .bold {
            font-weight: bold;
            font-family: $body-font;
        }

        p{
            font-family: $body-font;
        }

        ol li {
            margin: 2.5% 5%;
        }
    }
}

.tac{

    margin: 0 15% 0 15%;

    main{

        padding-bottom: 15%;

        h2{
            font-family: $body-font;
            font-size: 200%;
            font-weight: bold;
            text-align: right;
            text-decoration: underline;
            margin: 5% 0;
        }

        .bold {
            font-weight: bold;
            font-family: $body-font;
        }

        .opening ul li {
            margin: 2% 5%;
        }

        ul {
            list-style: none;
        }

        .mid {

            .urgent {
            text-transform: uppercase;
            }

            ul li {
                margin: 2.5% 5%;
            }
        }
    }
}

@media (max-width: 638px){
    .wrap{
        margin: 0 5% 0 5%;

        main {

            padding-bottom: 25%;
        }
    }
}